# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
#bin/
#obj/
#Debug/
#Release/
*.exe
*.dll

# Node
node_modules/
npm-debug.log
yarn-error.log
package-lock.json

# React build
build/
dist/
.env
.env.local

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
desktop.ini